@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header,
.front-content,
ul{
    display: flex;
    font-family: Roboto,sans-serif;
}

ul{
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
}

.content1{
    background-color: #1f2937;
    padding: 0 10%;
}
.header{
    justify-content: space-between;
    align-items: center;
}

.header div{
    font-size: 24px;
    color: #f9faf8;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.front-container{
    flex: 1;
}

.secondary-text{
    font-size: 18px;
    color: #e5e7eb;
    margin: 3px 0;
}

.front-container.two{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8e94a0;
    color: #F9FAF8;
}

body{
    background-color: black;
    padding: 0 60px;
}

.front-container button{
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 6px 20px;
}

.front-container button:hover {
    background-color: #1f2937;
}

.front-container a{
    text-decoration: none;
    color: #F9FAF8;
}

.front-content{
    padding: 100px 0;
}

.content2{
    background-color: white;
    padding: 100px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1F2937;
}

.content2 .header{
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 25px;
    
}

.item div{
    height: 150px;
    width: 150px;
    border: 5px solid royalblue;
    border-radius: 12px;
}

.item{
    max-width: 160px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.item-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content3{
    background-color: #e5e7eb;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
}
.phrase-box{
    max-width: 750px;;
}

.phrase-box div{
    font-weight: bold;
    font-style: normal;
    text-align: right;
}

.content4{
    background-color: white;
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #f9faf8;
}

.box{
    background-color: #3882F6;
    width: 100%;
    padding: 40px;
    border: #3882F6 5px solid;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
}
.highlight{
    font-size: 25px;
    font-weight: bold;
}