@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header,
.front-content,
ul{
    display: flex;
    font-family: Roboto,sans-serif;
}

ul{
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
}

.content1{
    background-color: #1f2937;
    padding: 0 10%;
}
.header{
    justify-content: space-between;
    align-items: center;
}

.header div{
    font-size: 24px;
    color: #f9faf8;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.front-container{
    flex: 1;
}

.secondary-text{
    font-size: 18px;
    color: #e5e7eb;
    margin: 3px 0;
}

.front-container.two{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8e94a0;
    color: #F9FAF8;
}

body{
    background-color: black;
    padding: 0 60px;
}

.front-container button{
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 6px 20px;
}

.front-container button:hover {
    background-color: #1f2937;
}

.front-container a{
    text-decoration: none;
    color: #F9FAF8;
}

.front-content{
    padding: 100px 0;
}